@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  scrollbar-width: none;
} */
@media (max-width: 640px) {
  .slider_img {
    height: 400px !important;
  }
}
.category-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: #f8f8f8;
}

.category-scrollbar::-webkit-scrollbar-thumb {
  background: #101010;
  border-radius: 10px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .category-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .category-scrollbar::-webkit-scrollbar {
    scrollbar-width: none;
  }
}
